.resume-div {
  color: aliceblue;
  text-align: center;
}
#resume-title{
    margin-top: 10vh;
}
.resume-div > button > a {
  font-size: clamp(1.5vh, 250%, 3vw);
  color: black;
}
.resume-div > button {
  border-radius: 10px;
  padding: 1%;
}
.resume-div > h1 {
  font-size: 5vw;
  font-size: clamp(2.5vh, 500%, 5vw);
  text-align: center;
}
button.resume-button > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 2.5vw;
}
button.resume-button {
  border: transparent;
  border-radius: 30px;
  background: #595959;
  box-shadow: -5px -5px 5px #4c4c4c, 5px 5px 5px #666666;
}
object#resume-preview{
    width:80%;
    height: 125vh;
    margin: 0 auto 2vh auto;
}

@media only screen and (max-width: 800px) {
    object#resume-preview{
        width:95%;
        aspect-ratio: 8.5/11;
        margin: vh auto;
        height: auto;
    }
  button.resume-button > a {
    font-size: 4vw;
  }
  button.resume-button {
    max-width: 90vw;
  }
}
