:root {
    --text-color: aliceblue;
}
.home-div {
    text-align: center;
    width: 100%;
}

div#top-div {
    display: flex;
    flex-wrap: wrap;
}

section.img-block {
    width: 50%;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    display: inline-block;
    z-index: 0;
}

img.home-img {
    height: auto;
    width: 80%;
    border-radius: 20px;
    margin: auto;

}

section.name-caption-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
    display: inline-block;
}

h1.home-text {
    color: var(--text-color);
    font-size: 7vw;
    padding: 5%;
}

h2.subtext {
    font-size: 2.5vw;
    font-weight: 500;
    text-align: center;
    font-family: var(--font6);
}

h3.description {
    color: var(--text-color);
    font-family: var(--font6);
    font-size: 4vw;
    margin: 3vh 0;
    text-align: center;
}

div.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

ul {
    
    width: 40vw;
    padding: 5%;
    box-sizing: border-box;
}

ul > h4 {
    color: aliceblue;
    font-size: 4vw;
    text-align: center;
    font-family: var(--font6);
}

img.stackImg {
    max-width: 75%;
    max-height: 30vh;
    padding: 5%;
    background-color: transparent;
}

hr {
    width: 90%;
    align-self: center;
    margin: 2% auto;
}

@media only screen and (max-width: 800px) {
    section.name-caption-block, section.img-block {
        width: 100%;
    }
    h1.home-text, h2.subtext, h3.description, ul > h4 {
        font-size: 3vw;
    }
    h1.home-text {
        font-size: 15vw;
    }
    h2.subtext {
        font-size: 5vw;
    }
}
