img.home-img{
 height: 60vw;
 width: 60vw;
 padding: 10px;
 margin: 10px;
}
h3.tech-title, h2.subtext, h1.home-text{
    text-align: center;
    background: linear-gradient(90deg,transparent, var(--grey1), transparent);
}
ul.tech img.stackImg{
    height: 15vw;
    width: 15vw;
    padding: 10px;
    margin: 10px;
}
ul.tech img.stackImg.long{
    height: 15vw;
    width: 30vw;
}
ul.tech img.stackImg.xlong{
    height: 15vw;
    width: 35vw;
}