:root {
    --font-size: 2vw;
    --color: #fff;
    --background: rgba(26, 26, 26, 0.75);
}


.nav-menu {
    display: flex;
    align-items: center;
    background-color: var(--background);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.nav-menu.active {
    display: flex;
}

.nav-menu.active .nav-links {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.nav-links {
    display: none;

}

.nav-menu a {
    color: var(--color);
    font-size: var(--font-size);
    text-decoration: none;
    padding: 1rem;
    transition: font-size 0.3s ease-in-out;
    font-family: var(--font1);
}

.nav-menu a:active {
    color: var(--active-color);
}

.nav-bar-bar .nav-button {
    display: none;
}
.nav-menu a:hover {
    font-size: calc(var(--font-size) * 2);
    color: transparent;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    animation: moving-grad 1s infinite alternate-reverse;
    background-clip: text;
    background-size: 300% 200%;
}

@keyframes moving-grad {
	0% {
		background-position: 0% 100%;
	}
	100% {
		background-position:  100% 0%;
	}
}
@media (max-width: 800px) {

    .nav-bar-bar .nav-button.open {
        background-color: var(--background);
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5vw;
        border-color: transparent;
        width: 20vw;
        margin: 5vw;
    }

    .nav-button.open img {
        aspect-ratio: 1;
        width: 100%;
        padding: 1vw;
    }

    .nav-menu:has(.nav-button.open) {
        background-color: transparent;
    }

    .nav-menu {
        flex-wrap: wrap;
    }


    .nav-bar-bar {
        justify-content: center;
    }

    .nav-links {
        width: 100%;
    }
}

