.home-div{
    text-align: center;
    width: 100vw;
    height: auto;
}
.home-text{
    width: 100%;
    text-align: center;
    color: aliceblue;
}
.home-img{
    background-image: url("../../assets/closeUp.jpg");
    background-size:contain;
    display: block;
    margin: 0 auto 0 auto;
    width: 50vw;
    height: 50vw;
}