.about-div{
    width: 80%;
    height: auto;
    margin: 5% auto;
    text-align: center;
    color:antiquewhite;
    text-align: justify;
}
.about-div > p{
    font-size: 3vw;
    font-size: clamp(2vh, 300%, 3vw);
    text-align: left;
}
.about-div > h3{
    font-size: 5vw;
    font-size: clamp(4vh, 500%, 5vw);
    text-align: center;
}