.App {
  text-align: center;
  width: 100vw;
  z-index: 1;
}
*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: auto;
  z-index: 1;
}
html{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: auto;
  z-index: 1;
}

