@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');
h1{
  font-family: 'Bebas Neue', cursive;
}
h2, h3, h4, h6, h5, a ,p,li,ul{
  font-family: 'Roboto Condensed', sans-serif;
}
HTML{
  background-image: url("./14.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: auto;
  height: 100vh;
  background-color: rgb(23, 23, 23);
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

