*{
    list-style: none;
}
h1{
    text-align: center;

}
nav{
    margin-top: 3vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    width: auto;
    background-color: rgba(26, 26, 26, 0.3);
}
#li{
    text-decoration: none;
    height:fit-content;
    color: aliceblue;
    display:block;
    width: fit-content;
    margin: 0%;
    font-size: clamp(3.5vw, 4%, 5vh);
}
.home-button{
    height: 10vw;
}