*{
    list-style: none;
}
h1{
    text-align: center;

}
nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    background-color: #1a1a1a;
    width: auto;
}
#li{
    text-decoration: none;
    height:fit-content;
    color: azure;
    display:block;
    width: fit-content;
    margin: 0%;
    font-size: 3.5vw;
}