*{
    list-style: none;
}
nav > a > a{
    display: none;
}
button.nav-button{
    display: none;
}
h1{
    text-align: center;

}
nav{
    margin-top: 3vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    width: auto;
    background-color: rgba(26, 26, 26, 0.7);
}
#li{
    text-decoration: none;
    height:fit-content;
    color: aliceblue;
    display:block;
    width: fit-content;
    margin: 0%;
    font-size: clamp(3.5vw, 4%, 5vh);
}
.home-button{
    height: 10vw;
}
img#logo{
    display: none;
}

@media only screen and (max-width: 800px) {
    button.nav-button > img{
        width: 10vw;
        height: 10vw;
        display: block;
    }
    button.nav-button{
        display: block;
        border: none;
        background-color: transparent;
        padding: 3%;
        margin: 0;
    }
    img#logo{
        display: block;
        width: 20vw;
        height: 20vw;
    }
    div#nav-bar-bar{
        width: 100vw;
        display: flex;
        flex-direction: row;
        background-color: rgba(26, 26, 26, 0.8);
        justify-content: space-between;
        margin: 0;
    }
    .inactive{
        display: none;
    }
    .active{
        display: block;
        z-index: 100;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(26, 26, 26, 0.9);
        margin: 0;
    }
    nav > a > img{
        display: none;
    }
    nav > a > a{
        display: block;
    }
    nav{
        margin-top: 0vh;
        display: none;
    }
    nav > a{
        width: 100%;
    }
    #li{
        font-size: 15vw;
        padding: 2%;
    }
}